#SOBREMI {
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    position: relative;
    .fix{
        position: absolute;
        inset: 0;
        padding: 0 20% 0 20%;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
        .cardSM{
            background-color: rgba(0, 0, 0, 0.128);
            width: 80%;
            height: 80%;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            h4 {
                font-size: 8px;
                line-height: 1.5;
                color: #333;
                span {
                    color: aqua;
                    font-weight: 800;
                }
            }
        }
    }
}