.two-columns-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .two-columns-grid > * {
    box-sizing: border-box;
    padding: 10px;
    flex: 1 0 50%;
    max-width: 50%;
  }

  .verMas {
    width: 12rem;
    height: 50px;
    background: linear-gradient(to top, #9e9e9f, #ffffff, #ffffff);
    color: black;
    border-radius: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

.modal-content{
    background-color: rgb(0 0 0 / 53%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo{
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 10px;
    }
    .modal-footer{
        display: flex;
        justify-content: center;
    }
    img{
        border-radius: 15px;
    }
}