.modalSobreMi{
    z-index: 3;
    display: flex;
    color: white;
    .modal-open{
        color: white;
    }

    .verMas{
        z-index: 4;
        width: 50px;
        height: 50px;
        position: relative;
        rotate: -90deg;
        margin-right: 8px;
        animation: slideInfinite 1s infinite;
    }
}

.offcanvas{
    position: sticky;
}
.offcanvas-backdrop.show {
    opacity: 0;
    .btn-close{
        color: #ffffffd6;
    }
}
.offcanvas-body{
    display: flex;
}
.offcanvas-start{
    background-color: rgba(0, 0, 0, 0.203);
    color: #ffffffd6;
    .btn-close{
    color: #ffffffd6;
    }
}


@keyframes slideInfinite {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(5px);
    }
}