#SACARTURNO {
  height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(bottom, #614c3b, #7d624f, #614c3b);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  iframe {
    width: 90rem;
    height: 703px;
  }
}

@media (max-width: 1095px) {
  iframe {
    max-width: 90%; 
    height: 100%;
    display: flex;
    padding: 10px;
    margin: auto;
     
  }
  .calendly-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
  }
  .calendly-container::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra de desplazamiento */
  }
  .calendly-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color de fondo de la barra de desplazamiento */
  }
  iframe::-webkit-scrollbar {
    width: 1px; /* Ancho de la barra de desplazamiento */
  }
  iframe::-webkit-scrollbar-thumb {
    background-color: transparent; /* Color de fondo de la barra de desplazamiento */
  }
}
